.news_containers {
  position: relative;
  top: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../../public/img/galaxy.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container_news {
  transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
  -ms-transform: skew(-5deg);
  -o-transform: skew(-5deg);
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  width: 85%;
  margin: 20px 0px 40px 0px;
  padding: 20px 20px 20px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container_news:hover {
  transform: skew(5deg);
  -webkit-transform: skew(5deg);
  -moz-transform: skew(5deg);
  -ms-transform: skew(5deg);
  -o-transform: skew(5deg);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.562);
}

.news_titles {
  font-size: 30px;
  font-weight: bold;
}

.news_texts {
  font-size: 16px;
  color: black;
  text-align: left;
}

@media (min-width: 640px) {
    .news_texts{
        font-size: 18px;
    }
}

@media (min-width:768px) {
    .container_news{
        width: 80%;
    }
}

@media (min-width:800px) {
    .container_news{
        width: 75%;
    }
}

@media (min-width:1024px) {
    .container_news{
        width: 70%;
    }
}

@media (min-width:1152px) {
    .container_news{
        width: 65%;
    }
}

@media (min-width:1280px) {
    .container_news{
        width: 55%;
    }
}

@media (min-width:1440px) {
    .container_news{
        width: 45%;
    }
}

@media (min-width:1600px) {
    .container_news{
        width: 35%;
    }
}

@media (min-width:2048px) {
    .container_news{
        width: 35%;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .news_texts{
        font-size: 30px;
    }

    .news_titles{
        font-size: 35px;
    }
}

@media (min-width:2256px) {
    .container_news{
        width: 40%;
    }
}